.DS_Store
.secret.json
node_modules
/js/
/examples/js/
lib/bs
*.bs.js
.merlin
.bsb.lock
*~
*.annot
*.cmj
*.bak
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
